@use "./variables" as *;
@use "./mixins" as *;
@use "./functions" as *;

%title-label {
  line-height: 1.42857;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: currentColor;

  @include adaptiveValue("font-size", 14, 12, $bp-tablet);
}

%main-title {
  line-height: 1.1;
  color: currentColor;

  @include adaptiveValue("font-size", 54, 40, $bp-tablet);
}

%section-title {
  line-height: 1.05;
  color: currentColor;

  @include adaptiveValue("font-size", 40, 32, $bp-tablet);
}

%block-title {
  line-height: 1.14286;
  color: currentColor;

  @include adaptiveValue("font-size", 28, 24, $bp-tablet);
}

%subtitle {
  line-height: 1.25;

  @include adaptiveValue("font-size", 24, 20, $bp-tablet);
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
