@use "./variables" as *;
@use "./mixins" as *;

%title-label {
  font-size: 0.88rem;
  line-height: 1.42857;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: currentColor;
}

%main-title {
  font-size: 3.38rem;
  line-height: 1.1;
  color: currentColor;
}

%section-title {
  font-size: 2.5rem;
  line-height: 1.05;
  color: currentColor;
}

%block-title {
  font-size: 1.75rem;
  line-height: 1.14286;
  color: currentColor;
}

%subtitle {
  font-size: 1.5rem;
  line-height: 1.25;
}

%cta-btn {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 0.6875rem 1.25rem;
  border-radius: 0.88rem;
  color: $text-light-bg-color;
  background-color: $btn-color;
  transition: 250ms ease;

  @include hover("background-color", $accent-color);
}
