$main-font: "Poppins-Regular", sans-serif;

$accent-color: #d7bfa5;
$success-color: #4caf50;
$white-color: #fff;
$light-color: #c0c0c0;
$black-color: #000;
$dark-color: #181818;

$text-primary-color: $light-color;
$text-heading-color: $white-color;
$btn-bg-color: $white-color;
$input-bg-color: $white-color;
$text-dark-color: $black-color;

$min-width-page: 320;
$max-width-page: 1440;
$container-padding-s: 60;
$container-padding-l: 136;

$bp-mobile: 480;
$bp-tablet: 768;
$bp-desktop: 1024;
