$main-font: "Poppins", sans-serif;

$accent-color: #ff5722;
$text-primary-color: #c0c0c0;
$text-heading-color: #fff;
$btn-bg-color: $text-heading-color;
$input-bg-color: $text-heading-color;
$text-light-bg-color: #000;
$background-header-color: #181818;
$background-page-color: #000;

$min-width-page: 320;
$max-width-page: 1440;
$container-padding-s: 60;
$container-padding-l: 136;

$bp-mobile-sm: 320;
$bp-mobile-lg: 480;
$bp-tablet: 768;
$bp-desktop-md: 1024;
$bp-desktop-lg: 1440;
