:root {
  --header-height: 0;
}

$main-font: "Poppins", sans-serif;

$accent-color: #d7bfa5;
// $accent-color: #53615b;
$text-primary-color: #c0c0c0;
$text-heading-color: #fff;
$btn-bg-color: $text-heading-color;
$input-bg-color: $text-heading-color;
$text-light-bg-color: #000;
$background-header-color: #181818;
$background-page-color: #000;
$backdrop-color: #181818a1;

$min-width-page: 320;
$max-width-page: 1440;
$container-padding-s: 60;
$container-padding-l: 136;

$bp-mobile: 480;
$bp-tablet: 768;
$bp-desktop: 1024;
