@use "../utilities" as *;

@import url("https://fonts.googleapis.com/css?family=Poppins:regular&display=swap");

body {
  font-family: $main-font;
  line-height: 1.42857;
  color: $text-primary-color;
  background-color: $background-page-color;

  @include adaptiveValue("font-size", 14, 12, $bp-tablet);

  &.no-scroll {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }

  &::after {
    content: "";
    position: fixed;
    inset: 0;
    background-color: $backdrop-color;
    opacity: 0;
    pointer-events: none;
    // z-index: 888;
    transition: opacity 200ms ease-out;
  }
}

svg {
  fill: currentColor;
}
