@use "../utilities" as *;

@font-face {
  font-family: "Poppins-Regular";
  src:
    url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: $main-font;
  line-height: 1.42857;
  color: $text-primary-color;
  background-color: $black-color;

  @include adaptiveValue("font-size", 14, 12, $bp-tablet);

  &.no-scroll {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }

  &::after {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba($dark-color, 0.6);
    opacity: 0;
    backdrop-filter: blur(6px);
    pointer-events: none;
    // z-index: 888;
    transition: opacity 200ms ease-out;
  }
}

svg {
  fill: currentColor;
}
