@charset "UTF-8";@import url("https://fonts.googleapis.com/css?family=Poppins:regular&display=swap");

/***
    The new CSS reset - version 1.11 (last updated 20.9.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: pointer;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: none;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

.footer__list-title, .newsletter__title, .photo-highlight__title, .portfolio__card-title, .hero__subtitle {
  font-size: 0.88rem;
  line-height: 1.42857;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: currentColor;
}

.hero__title {
  font-size: 3.38rem;
  line-height: 1.1;
  color: currentColor;
}

.contact__title, .portfolio__title {
  font-size: 2.5rem;
  line-height: 1.05;
  color: currentColor;
}

.contact__subtitle, .portfolio__subtitle {
  font-size: 1.5rem;
  line-height: 1.25;
}

.contact__button, .portfolio__card-button, .header__button {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 0 1.25rem;
  height: 2.625rem;
  border-radius: 0.88rem;
  color: #000;
  background-color: #fff;
}
.contact__button:has(.aperture-icon), .portfolio__card-button:has(.aperture-icon), .header__button:has(.aperture-icon) {
  padding-left: 0.5rem;
  gap: 0.75rem;
}
.contact__button, .portfolio__card-button, .header__button {
  transition: 250ms ease 0s;
  transition-property: opacity, background-color, --aperture-size, --aperture-bg-color;
}

.footer__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.88rem;
  line-height: 1.42857;
  color: #c0c0c0;
  background: #000;
}

svg {
  fill: currentColor;
}

.container {
  padding-top: 7.5rem;
  padding-bottom: 6.25rem;
}

.logo {
  display: inline-flex;
  color: #fff;
}
.logo {
  transition: 250ms ease 0s;
  transition-property: opacity, color;
}

.image-details {
  position: absolute;
  bottom: 2.5rem;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 1rem;
}
.image-details::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  height: 150%;
  background: #000;
  filter: blur(40px);
  border-radius: 10px;
  opacity: 0.4;
}
.image-details__item {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: #fff;
}
.image-details__text {
  font-size: 0.75rem;
  line-height: 1;
}

.aperture-icon {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  overflow: hidden;
}
.aperture-icon__blades {
  padding: 0.125rem;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 250ms ease;
}
.aperture-icon__blade {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotate(calc(var(--i) * 60deg)) scaleY(2) rotateX(-60deg);
  transform-origin: 0% 50%;
}
.aperture-icon__blade:nth-of-type(1) {
  --i: 1;
}
.aperture-icon__blade:nth-of-type(2) {
  --i: 2;
}
.aperture-icon__blade:nth-of-type(3) {
  --i: 3;
}
.aperture-icon__blade:nth-of-type(4) {
  --i: 4;
}
.aperture-icon__blade:nth-of-type(5) {
  --i: 5;
}
.aperture-icon__blade:nth-of-type(6) {
  --i: 6;
}
.aperture-icon__blade::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: currentColor;
  border-left: 0.125rem solid;
  border-color: var(--aperture-bg-color, #fff);
  transform-origin: 0% 0%;
  transform: rotate(var(--aperture-size, -30deg));
  transition: all 250ms ease;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 2.625rem;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #fff;
  overflow: hidden;
  background-color: #181818;
  transition: translate 550ms ease;
  z-index: 2;
}
.header.hidden {
  translate: 0 -100%;
}
.header__menu {
  overflow: hidden;
  transition: max-height 550ms ease, padding 250ms ease;
}
.header__link {
  display: inline-block;
  font-size: 1.44rem;
  line-height: 1.30435;
  color: #fff;
  padding: 0.5rem 0;
}
.header__link {
  transition: 250ms ease 0s;
  transition-property: opacity, color;
}
.header__burger-btn {
  display: none;
}
.header__burger-btn {
  transition: 250ms ease 0s;
  transition-property: opacity, color;
}

.hero {
  position: relative;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  overflow: hidden;
}
.hero__content {
  text-align: center;
  max-width: 37.5rem;
}
.hero__title-wrapper {
  margin-bottom: 1.125rem;
}
.hero__title {
  color: #fff;
}
.hero__description {
  font-size: 0.88rem;
  line-height: 1.42857;
}
.hero__thumb {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.hero__thumb::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #000000 0%, rgba(255, 255, 255, 0) 100%);
  mix-blend-mode: darken;
}
.hero__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__header {
  text-align: center;
}
.portfolio__title {
  color: #fff;
  margin-bottom: 1.125rem;
}
.portfolio__subtitle {
  margin-bottom: 2.625rem;
}
.portfolio__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: calc(36rem * 2 + 1rem);
  justify-content: center;
}
.portfolio__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 1rem;
  flex: 1 1 25.25rem;
  max-width: 36rem;
  height: 37.5rem;
  padding: 1.875rem;
}
.portfolio__card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.7333333333) 0%, rgba(255, 255, 255, 0) 60%);
  z-index: -1;
}
.portfolio__card-image {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.portfolio__card-content {
  overflow-y: auto;
}
.portfolio__card-title {
  color: #fff;
  margin-bottom: 0.625rem;
}
.portfolio__card-button {
  flex-shrink: 0;
}

.photo-highlight {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  aspect-ratio: 1440/600;
  min-height: 37.5rem;
}
.photo-highlight__image-thumb {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.photo-highlight__bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo-highlight__caption {
  max-width: 18.75rem;
  transition: 400ms ease-out;
  transition-property: opacity, filter;
}
.photo-highlight__caption::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 110%;
  height: 110%;
  background: #000;
  filter: blur(40px);
  border-radius: 10px;
  opacity: 0;
  transition: inherit;
}
.photo-highlight__caption:has(> .visible)::before {
  opacity: 0.4;
}
.photo-highlight__title {
  color: #fff;
}
.photo-highlight__title, .photo-highlight__description {
  opacity: 0;
  filter: blur(4px);
  transition: inherit;
}
.photo-highlight__title.visible, .photo-highlight__description.visible {
  opacity: 1;
  filter: blur(0);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.375rem;
  text-align: center;
}
.contact__header {
  max-width: 600px;
}
.contact__title {
  color: #fff;
  margin-bottom: 1.125rem;
}
.footer {
  gap: 2.25rem 1.25rem;
  padding-top: 6.25rem;
  transition: 550ms ease;
  transition-property: padding-left, padding-right;
  background-color: #000;
}
.footer__navigation {
  display: contents;
}
.footer__navigation::after {
  content: "";
  display: block;
  grid-area: fl;
  width: 100%;
  height: 0.12rem;
  background-color: #fff;
}
.footer__logo {
  margin-bottom: 1.25rem;
}
.footer__tagline {
  font-size: 0.81rem;
  line-height: 1.53846;
}
.footer__list-title {
  margin-bottom: 0.625rem;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.footer__link {
  color: #fff;
}
.footer__link {
  transition: 250ms ease 0s;
  transition-property: opacity, color, text-decoration;
}
.footer__newsletter {
  display: contents;
}
.footer__newsletter::after {
  content: "";
  display: block;
  grid-area: sl;
  width: 100%;
  height: 0.12rem;
  background-color: #fff;
}
.footer__bottom {
  display: contents;
}
.footer__social {
  display: flex;
  gap: 1.25rem;
}
.footer__socials-item {
  display: inline-flex;
}
.footer__socials-link {
  display: inline-flex;
  color: #c0c0c0;
}
.footer__socials-link svg {
  fill: currentColor;
}
.footer__socials-link {
  transition: 250ms ease 0s;
  transition-property: opacity, color;
}
.newsletter__title {
  color: #fff;
  margin-bottom: 1.25rem;
}
.newsletter__text {
  font-size: 0.81rem;
  line-height: 1.53846;
}
.newsletter__form {
  grid-area: nf;
  position: relative;
  height: min-content;
}
.newsletter__input {
  width: 100%;
  padding: 0.9375rem;
  padding-right: 6.625rem;
  color: #000;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 0.75rem;
}
.newsletter__button {
  position: absolute;
  top: 50%;
  right: 0.375rem;
  transform: translateY(-50%);
  font-size: 0.81rem;
  line-height: 1.53846;
  padding: 0.3125rem 0.9375rem;
  background-color: #000;
  border-radius: 0.69rem;
}
.newsletter__button {
  transition: 250ms ease 0s;
  transition-property: opacity, color;
}

.blur-out-text__item {
  display: inline-block;
  opacity: 0;
  scale: 0.8;
  filter: blur(4px);
  transition-duration: var(--blur-out-text-duration);
  transition-delay: var(--blur-out-text-delay);
  transition-timing-function: var(--blur-out-text-timing-func);
  transition-property: opacity, scale, filter;
}
.blur-out-text__item.visible {
  opacity: 1;
  scale: 1;
  filter: blur(0);
}

.fluid-text__words, .fluid-text__word, .fluid-text__char, .fluid-text__char::before, .fluid-text__char::after {
  transform-style: preserve-3d;
  display: inline-block;
}
.fluid-text__words:nth-of-type(1) {
  --idx: 0;
}
.fluid-text__words:nth-of-type(2) {
  --idx: 5;
}
.fluid-text__words:nth-of-type(3) {
  --idx: 10;
}
.fluid-text__words:nth-of-type(4) {
  --idx: 15;
}
.fluid-text .fluid-text__words .fluid-text__char, .fluid-text .fluid-text__char::after, .fluid-text .fluid-text__char::before {
  animation: none;
}
.fluid-text.animate .fluid-text__words .fluid-text__char {
  animation: flip var(--duration) var(--delay) forwards ease;
}
.fluid-text.animate .fluid-text__char::after, .fluid-text.animate .fluid-text__char::before {
  animation: fade var(--duration) var(--delay) forwards ease;
}
.fluid-text__words .fluid-text__char {
  --duration: 2.2s;
  --delay: calc(
    (sin((var(--char-index) / var(--char-total)) * 90deg) * (var(--duration) * 0.25)) -
      (var(--idx) * -0.25s)
  );
  display: inline-block;
  transform: rotateX(90deg);
}
.fluid-text__char {
  color: transparent;
  position: relative;
  height: 0.9lh;
  line-height: 1;
  vertical-align: middle;
}
.fluid-text__char::after, .fluid-text__char::before {
  color: #fff;
  content: attr(data-fluid-char);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1lh;
  width: 100%;
}
.fluid-text__char::before {
  transform-origin: 50% 50%;
  translate: -50% -50%;
  transform: rotateX(-90deg) translate3d(0, 0, 0.45lh);
  opacity: 1;
  --opacity: 0;
}
.fluid-text__char::after {
  translate: -50% -50%;
  transform: translate3d(0, 0, 0.45lh);
}

@keyframes flip {
  25%, 100% {
    transform: rotateX(0deg);
  }
}
@keyframes fade {
  30%, 100% {
    opacity: var(--opacity, 1);
  }
}
@media (width >= 320px) and (width < 1440px){
  .container {
    padding-left: clamp( 0.9375rem , -1.2232142857rem  +  10.8035714286vw , 8.5rem );
  }
  .container {
    padding-right: clamp( 0.9375rem , -1.2232142857rem  +  10.8035714286vw , 8.5rem );
  }
  .container--wide {
    padding-left: clamp( 0.9375rem , 0.1339285714rem  +  4.0178571429vw , 3.75rem );
  }
  .container--wide {
    padding-right: clamp( 0.9375rem , 0.1339285714rem  +  4.0178571429vw , 3.75rem );
  }
  .image-details {
    padding-right: clamp( 0.9375rem , 0.4910714286rem  +  2.2321428571vw , 2.5rem );
  }
  .image-details {
    padding-left: clamp( 0.9375rem , 0.4910714286rem  +  2.2321428571vw , 2.5rem );
  }
}
@media (width >= 480px){
  .footer {
    display: grid;
  }
  .footer__branding {
    grid-area: br;
  }
  .footer__business-areas {
    grid-area: bu;
  }
  .footer__pages {
    grid-area: pg;
  }
  .footer__copyright {
    grid-area: cp;
  }
  .footer__social {
    grid-area: so;
    justify-self: end;
  }
  .newsletter__content {
    grid-area: nc;
  }
}
@media (width >= 480px) and (width < 768px){
  .footer {
    grid-template-areas: "br br" "pg bu" "fl fl" "nc nc" "nf nf" "sl sl" "cp so";
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width >= 768px){
  .header {
    justify-items: end;
    row-gap: 0.5rem;
  }
  .header__menu {
    display: contents;
  }
  .header__list {
    display: flex;
  }
  .header__link {
    font-size: 0.94rem;
    line-height: 1.33333;
    padding: 0.25rem 0;
  }
}
@media (width >= 768px) and (width < 1024px){
  .header {
    column-gap: clamp( 1rem , -2rem  +  6.25vw , 2rem );
  }
  .header__list {
    column-gap: clamp( 1rem , -2rem  +  6.25vw , 2rem );
  }
  .header__button {
    grid-column: 2/3;
  }
  .footer {
    grid-template-areas: "br br" "pg bu" "fl fl" "nc nf" "sl sl" "cp so";
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width >= 1024px){
  .header {
    column-gap: 2rem;
  }
  .header {
    grid-template-columns: min-content 1fr max-content;
  }
  .header__list {
    column-gap: 2rem;
  }
  .footer {
    grid-template-areas: "br bu pg" "fl fl fl" "nc nf nf" "sl sl sl" "cp .  so";
    grid-template-columns: 1fr repeat(2, minmax(13.75rem, max-content));
  }
}
@media (width >= 1440px){
  .container {
    padding-left: 8.5rem;
  }
  .container {
    padding-right: 8.5rem;
  }
  .container--wide {
    padding-left: 3.75rem;
  }
  .container--wide {
    padding-right: 3.75rem;
  }
  .image-details {
    padding-right: 2.5rem;
  }
  .image-details {
    padding-left: 2.5rem;
  }
}
@media (width < 768px){
  .header__menu {
    grid-column: 1/3;
    padding: 0 1rem;
    max-height: 0;
  }
  .header__menu.is-open {
    padding: 1rem 1rem 0 1rem;
    max-height: 18.75rem;
  }
  .header__nav {
    margin-bottom: 0.5rem;
  }
  .header__burger-btn {
    display: block;
    position: relative;
    justify-self: end;
    width: 1.5rem;
    height: 1.5rem;
  }
  .header__burger-btn span, .header__burger-btn::before, .header__burger-btn::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 0.1875rem;
    background-color: currentColor;
    border-radius: 0.625rem;
    transition-duration: 250ms;
    transition-property: transform, width;
  }
  .header__burger-btn::before {
    top: 0.3125rem;
  }
  .header__burger-btn::after {
    bottom: 0.25rem;
  }
  .header__burger-btn span {
    top: calc(50% - 0.0625rem);
  }
  :has(.header__menu.is-open) .header__burger-btn span {
    width: 0;
  }
  :has(.header__menu.is-open) .header__burger-btn::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  :has(.header__menu.is-open) .header__burger-btn::after {
    bottom: calc(50% - 0.125rem);
    transform: rotate(45deg);
  }
}
@media (width < 480px){
  .footer {
    display: flex;
    flex-direction: column;
  }
}
@media (hover: hover){
  .contact__button:hover, .portfolio__card-button:hover, .header__button:hover, .contact__button:focus, .portfolio__card-button:focus, .header__button:focus {
    background-color: #d7bfa5;
    --aperture-size: -10deg;
    --aperture-bg-color: #d7bfa5;
  }
  .contact__button:active, .portfolio__card-button:active, .header__button:active {
    opacity: 0.8;
  }
  .logo:hover, .logo:focus {
    color: #d7bfa5;
  }
  .logo:active {
    opacity: 0.8;
  }
  .header__link:hover, .header__link:focus {
    color: #d7bfa5;
  }
  .header__link:active {
    opacity: 0.8;
  }
  .header__burger-btn:hover, .header__burger-btn:focus {
    color: #d7bfa5;
  }
  .header__burger-btn:active {
    opacity: 0.8;
  }
  .footer__link:hover, .footer__link:focus {
    color: #d7bfa5;
    text-decoration: underline;
  }
  .footer__link:active {
    opacity: 0.8;
  }
  .footer__socials-link:hover, .footer__socials-link:focus {
    color: #d7bfa5;
  }
  .footer__socials-link:active {
    opacity: 0.8;
  }
  .newsletter__button:hover, .newsletter__button:focus {
    color: #d7bfa5;
  }
  .newsletter__button:active {
    opacity: 0.8;
  }
}
@media (hover: none){
  .contact__button:active, .portfolio__card-button:active, .header__button:active {
    background-color: #d7bfa5;
    --aperture-size: -10deg;
    --aperture-bg-color: #d7bfa5;
  }
  .logo:active {
    color: #d7bfa5;
  }
  .header__link:active {
    color: #d7bfa5;
  }
  .header__burger-btn:active {
    color: #d7bfa5;
  }
  .footer__link:active {
    color: #d7bfa5;
    text-decoration: underline;
  }
  .footer__socials-link:active {
    color: #d7bfa5;
  }
  .newsletter__button:active {
    color: #d7bfa5;
  }
}