<ul class="{=$block}__details image-details">
  <li class="image-details__item">
    <svg class="image-details__icon" width="16" height="16">
      <use href="./src/img/sprite.svg#icon-clock"></use>
    </svg>

    <span class="image-details__text">{=$shutterSpeed}</span>
  </li>

  <li class="image-details__item">
    <svg class="image-details__icon" width="16" height="16">
      <use href="./src/img/sprite.svg#icon-aperture"></use>
    </svg>

    <span class="image-details__text">{=$aperture}</span>
  </li>

  <li class="image-details__item">
    <svg class="image-details__icon" width="32" height="16">
      <use href="./src/img/sprite.svg#icon-iso"></use>
    </svg>

    <span class="image-details__text">{=$iso}</span>
  </li>

  <li class="image-details__item">
    <svg class="image-details__icon" width="16" height="16">
      <use href="./src/img/sprite.svg#icon-point"></use>
    </svg>

    <span class="image-details__text">{=$location}</span>
  </li>
</ul>
