<div class="slider slider--gallery" data-slider="architecture-gallery">
  <ul class="slider__list" data-slider-list>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/monolith-geometry.webp"
        imageSrc2x="./src/img/gallery/monolith-geometry@2x.webp"
        imageSrc3x="./src/img/gallery/monolith-geometry@3x.webp"
        imageType="image/webp"
        title="Monolith Geometry"
        description="A silent monolith rising from shadows, the building's harsh contrast and sharp lines conveyed power, solitude, and pure design."
        shutterSpeed="30s"
        aperture="f/8"
        iso="100"
        location="Berlin"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/galaxy-soho.webp"
        imageSrc2x="./src/img/gallery/galaxy-soho@2x.webp"
        imageSrc3x="./src/img/gallery/galaxy-soho@3x.webp"
        imageType="image/webp"
        title="Symmetry in Lights"
        description="Curved steel and glass form a perfect rhythm, broken only by warm amber lights. A modern heartbeat pulsing through silence."
        shutterSpeed="1/4s"
        aperture="f/5.6"
        iso="320"
        location="Beijing"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/glass-vortex.webp"
        imageSrc2x="./src/img/gallery/glass-vortex@2x.webp"
        imageSrc3x="./src/img/gallery/glass-vortex@3x.webp"
        imageType="image/webp"
        title="Glass Vortex"
        description="Steel and glass pull the eye upward, converging into a quiet point of focus. A city’s angles, captured in stillness."
        shutterSpeed="1/200s"
        aperture="f/5.6"
        iso="160"
        location="Warsaw"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/roof.webp"
        imageSrc2x="./src/img/gallery/roof@2x.webp"
        imageSrc3x="./src/img/gallery/roof@3x.webp"
        imageType="image/webp"
        title="Architectural Embrace"
        description="Soft light illuminates a sweeping steel lattice. Its intricate design forms a powerful, beautiful, modern architectural marvel."
        shutterSpeed="1/60s"
        aperture="f/4.0"
        iso="800"
        location="London"
      />
    </li>
  </ul>
  <button class="slider__nav slider__nav--prev" data-slider-btn="prev">
    <svg width="24" height="24">
      <use href="./src/img/sprite.svg#icon-chevron-left"></use>
    </svg>
  </button>
  <button class="slider__nav slider__nav--next" data-slider-btn="next">
    <svg width="24" height="24">
      <use href="./src/img/sprite.svg#icon-chevron-left"></use>
    </svg>
  </button>
</div>
