<section id="past-clients" class="clients container">
  <div class="clients__header">
    <h2 data-blur-out-text data-blur-out-text-delay="1000" class="clients__title">Past clients</h2>
    <p data-blur-out-text class="clients__subtitle">Trusted by your favourite companies</p>
  </div>

  <div
    class="clients__slider slider"
    data-slider="logos"
    data-slider-autoplay="true"
    data-slider-list-gap="109"
    data-slider-slide-min-width="128"
  >
    <ul class="clients__logos slider__list" data-slider-list>
      <li class="clients__logo slider__item" data-slider-item>
        <img
          src="./src/img/client-logos/hill-and-hayes.svg"
          alt="Hill & Hayes logo"
          class="clients__img"
          width="128"
          height="30"
          loading="lazy"
        />
      </li>

      <li class="clients__logo slider__item" data-slider-item>
        <img
          src="./src/img/client-logos/riksgransen.svg"
          alt="Riksgransen logo"
          class="clients__img"
          width="128"
          height="78"
          loading="lazy"
        />
      </li>

      <li class="clients__logo slider__item" data-slider-item>
        <img
          src="./src/img/client-logos/studio-cai.svg"
          alt="Studio Cai logo"
          class="clients__img"
          width="128"
          height="20"
          loading="lazy"
        />
      </li>

      <li class="clients__logo slider__item" data-slider-item>
        <img
          src="./src/img/client-logos/chill-industries.svg"
          alt="Chill Industries logo"
          class="clients__img"
          width="128"
          height="36"
          loading="lazy"
        />
      </li>

      <li class="clients__logo slider__item" data-slider-item>
        <img
          src="./src/img/client-logos/stockholm.svg"
          alt="Stockholm logo"
          class="clients__img"
          width="128"
          height="32"
          loading="lazy"
        />
      </li>

      <li class="clients__logo slider__item" data-slider-item>
        <img
          src="./src/img/client-logos/moon-studio.svg"
          alt="Moon Studio logo"
          class="clients__img"
          width="128"
          height="43"
          loading="lazy"
        />
      </li>

      <li class="clients__logo slider__item" data-slider-item>
        <img
          src="./src/img/client-logos/iglam-cosmetics.svg"
          alt="Iglam Cosmetics logo"
          class="clients__img"
          width="128"
          height="40"
          loading="lazy"
        />
      </li>

      <li class="clients__logo slider__item" data-slider-item>
        <img
          src="./src/img/client-logos/shodwe-streetwear.svg"
          alt="Shodwe Streetwear logo"
          class="clients__img"
          width="128"
          height="44"
          loading="lazy"
        />
      </li>

      <li class="clients__logo slider__item" data-slider-item>
        <img
          src="./src/img/client-logos/studio-olivia-wilson.svg"
          alt="Studio Olivia logo"
          class="clients__img"
          width="128"
          height="64"
          loading="lazy"
        />
      </li>

      <li class="clients__logo slider__item" data-slider-item>
        <img
          src="./src/img/client-logos/inside-out.svg"
          alt="Inside Out logo"
          class="clients__img"
          width="128"
          height="64"
          loading="lazy"
        />
      </li>

      <li class="clients__logo slider__item" data-slider-item>
        <img
          src="./src/img/client-logos/noah-skincare.svg"
          alt="Noah Skincare logo"
          class="clients__img"
          width="128"
          height="50"
          loading="lazy"
        />
      </li>
    </ul>
    <button aria-label="Previous" class="slider__nav slider__nav--prev" data-slider-btn="prev">
      <svg width="24" height="24">
        <use href="./src/img/sprite.svg#icon-chevron-left"></use>
      </svg>
    </button>
    <button aria-label="Next" class="slider__nav slider__nav--next" data-slider-btn="next">
      <svg width="24" height="24">
        <use href="./src/img/sprite.svg#icon-chevron-left"></use>
      </svg>
    </button>
  </div>
</section>
