<form id="contact-form" class="contact-form" data-contact-form>
  <div class="contact-form__inputs">
    <div class="contact-form__input-wrapper">
      <label for="name" class="contact-form__label">Name</label>
      <input
        type="text"
        id="name"
        class="contact-form__input input"
        name="name"
        placeholder="John"
        required
      />
    </div>

    <div class="contact-form__input-wrapper">
      <label for="email" class="contact-form__label">Email</label>
      <input
        type="email"
        id="email"
        class="contact-form__input input"
        name="email"
        placeholder="example@mail.com"
        required
      />
    </div>

    <div class="contact-form__input-wrapper">
      <label for="message" class="contact-form__label">Message</label>
      <textarea
        id="message"
        class="contact-form__textarea input"
        name="message"
        placeholder="Helo! I'm John"
        required
      ></textarea>
    </div>
  </div>

  <button type="submit" form="contact-form" class="contact-form__button button button--aperture">
    <load src="src/components/aperture-icon.htm" />
    <span>Send</span>
  </button>
</form>
