<div class="slider slider--gallery" data-slider="drone-gallery">
  <ul class="slider__list" data-slider-list>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/winter-peak.webp"
        imageSrc2x="./src/img/gallery/winter-peak@2x.webp"
        imageSrc3x="./src/img/gallery/winter-peak@3x.webp"
        imageType="image/webp"
        title="Winter Peak"
        description="The mountain exhales mist into the dawn, wrapped in silence and snow. A frozen world awaits the light."
        shutterSpeed="1/15s"
        aperture="f/4"
        iso="640"
        location="Ukraine"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/sunset-skyline.webp"
        imageSrc2x="./src/img/gallery/sunset-skyline@2x.webp"
        imageSrc3x="./src/img/gallery/sunset-skyline@3x.webp"
        imageType="image/webp"
        title="Sunset Skyline"
        description="Glass towers catch the last light as the city exhales into dusk. A moment of stillness above the noise."
        shutterSpeed="1/160s"
        aperture="f/6.3"
        iso="200"
        location="Shanghai"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/foggy-forest.webp"
        imageSrc2x="./src/img/gallery/foggy-forest@2x.webp"
        imageSrc3x="./src/img/gallery/foggy-forest@3x.webp"
        imageType="image/webp"
        title="Foggy Forest"
        description="Mist weaves through the trees, softening the world to a whisper. Nature pauses, quiet and hidden."
        shutterSpeed="1/60s"
        aperture="f/4"
        iso="400"
        location="Germany"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/tank.webp"
        imageSrc2x="./src/img/gallery/tank@2x.webp"
        imageSrc3x="./src/img/gallery/tank@3x.webp"
        imageType="image/webp"
        title="Urban Car Descent"
        description="A lone car slips into the shadows of the city, vanishing beneath layers of steel and silence."
        shutterSpeed="1/200s"
        aperture="f/5.6"
        iso="160"
        location="Warsaw"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/seoul-tower.webp"
        imageSrc2x="./src/img/gallery/seoul-tower@2x.webp"
        imageSrc3x="./src/img/gallery/seoul-tower@3x.webp"
        imageType="image/webp"
        title="Sunset Over Seoul"
        description="A quiet tower watches the city exhale beneath twilight, its lights blinking softly like a memory that refuses to fade."
        shutterSpeed="1/160s"
        aperture="f/8.0"
        iso="200"
        location="Seoul"
      />
    </li>
  </ul>
  <button class="slider__nav slider__nav--prev" data-slider-btn="prev">
    <svg width="24" height="24">
      <use href="./src/img/sprite.svg#icon-chevron-left"></use>
    </svg>
  </button>
  <button class="slider__nav slider__nav--next" data-slider-btn="next">
    <svg width="24" height="24">
      <use href="./src/img/sprite.svg#icon-chevron-left"></use>
    </svg>
  </button>
</div>
