<footer class="footer container">
  <div class="footer__navigation">
    <div class="footer__branding">
      <a href="#" class="header__logo logo">
        <svg width="128" height="31">
          <use href="./src/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <h2 class="footer__title">Aperture</h2>

      <p class="footer__tagline">Photographers & videographers capturing the world around us.</p>
    </div>

    <div class="footer__business-areas">
      <h3 class="footer__list-title">Business Areas</h3>

      <ul class="footer__list">
        <li class="footer__list-item">
          <a href="#" class="footer__link" target="_blank" rel="noopener noreferrer">
            Product Photography
          </a>
        </li>

        <li class="footer__list-item">
          <a href="#" class="footer__link" target="_blank" rel="noopener noreferrer">
            Architecture Photography
          </a>
        </li>

        <li class="footer__list-item">
          <a href="#" class="footer__link" target="_blank" rel="noopener noreferrer">
            Drone Photography
          </a>
        </li>

        <li class="footer__list-item">
          <a href="#" class="footer__link" target="_blank" rel="noopener noreferrer">
            Wildlife Photography
          </a>
        </li>
      </ul>
    </div>

    <div class="pages">
      <h3 class="footer__list-title">Pages</h3>

      <ul class="footer__list">
        <li class="footer__list-item">
          <a href="#" class="footer__link" target="_blank" rel="noopener noreferrer"> Gear cage </a>
        </li>

        <li class="footer__list-item">
          <a href="#" class="footer__link" target="_blank" rel="noopener noreferrer">
            Featured images
          </a>
        </li>

        <li class="footer__list-item">
          <a href="#" class="footer__link" target="_blank" rel="noopener noreferrer"> Contact </a>
        </li>

        <li class="footer__list-item">
          <a href="#" class="footer__link" target="_blank" rel="noopener noreferrer">
            Style guide
          </a>
        </li>

        <li class="footer__list-item">
          <a href="#" class="footer__link" target="_blank" rel="noopener noreferrer">
            Instructions
          </a>
        </li>

        <li class="footer__list-item">
          <a href="#" class="footer__link" target="_blank" rel="noopener noreferrer"> Changelog </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__newsletter newsletter">
    <div class="newsletter__content">
      <h3 class="newsletter__title">Subscribe to our newsletter</h3>
      <p class="newsletter__text">Read about all the things we do.</p>
    </div>
    <form class="newsletter__form">
      <input
        type="mail"
        class="newsletter__input"
        placeholder="Enter your email"
        autocomplete="email"
        required
      />
      <button type="submit" class="newsletter__button">Subscribe</button>
    </form>
  </div>

  <div class="footer__bottom">
    <p class="footer__copyright">
      &copy; Aperture Photography, Inc. All rights reserved.
      <a href="#" class="footer__link" target="_blank" rel="noopener noreferrer">Licensing</a>.
    </p>

    <ul class="footer__social">
      <li class="footer__socials-item">
        <a href="" class="footer__socials-link" target="_blank" rel="noopener noreferrer">
          <svg width="24" height="24">
            <use href="./src/img/sprite.svg#icon-twiter"></use>
          </svg>
        </a>
      </li>
      <li class="footer__socials-item">
        <a href="" class="footer__socials-link" target="_blank" rel="noopener noreferrer">
          <svg width="24" height="24">
            <use href="./src/img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__socials-item">
        <a href="" class="footer__socials-link" target="_blank" rel="noopener noreferrer">
          <svg width="24" height="24">
            <use href="./src/img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
