<footer class="footer container">
  <div class="footer__navigation">
    <div class="footer__branding">
      <a href="#" class="footer__logo logo">
        <svg width="128" height="31">
          <use href="./src/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <h2 class="footer__title">Aperture</h2>

      <p class="footer__tagline">Photographers & videographers capturing the world around us.</p>
    </div>

    <div class="footer__business-areas">
      <h3 class="footer__list-title">Business Areas</h3>

      <ul class="footer__list">
        <li class="footer__list-item">
          <a href="#product-photography" class="footer__link">Product Photography</a>
        </li>

        <li class="footer__list-item">
          <a href="#architecture-photography" class="footer__link">Architecture Photography</a>
        </li>

        <li class="footer__list-item">
          <a href="#drone-photography" class="footer__link">Drone Photography</a>
        </li>

        <li class="footer__list-item">
          <a href="#wildlife-photography" class="footer__link">Wildlife Photography</a>
        </li>
      </ul>
    </div>

    <div class="footer__pages">
      <h3 class="footer__list-title">Sections</h3>

      <ul class="footer__list">
        <li class="footer__list-item">
          <a href="#portfolio" class="footer__link">What we do</a>
        </li>

        <li class="footer__list-item">
          <a href="#fuji" class="footer__link">Mount Fuji</a>
        </li>

        <li class="footer__list-item">
          <a href="#gear-cage" class="footer__link">Gear cage</a>
        </li>

        <li class="footer__list-item">
          <a href="#monstera-leafs" class="footer__link">Monstera Leafs</a>
        </li>

        <li class="footer__list-item">
          <a href="#past-clients" class="footer__link">Past clients</a>
        </li>

        <li class="footer__list-item">
          <a href="#himalayas-starfall" class="footer__link">Himalayas Starfall</a>
        </li>

        <li class="footer__list-item">
          <a href="#contact" class="footer__link">Contact</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__newsletter newsletter">
    <div class="newsletter__content">
      <h3 class="newsletter__title">Subscribe to our newsletter</h3>
      <p class="newsletter__text">Read about all the things we do.</p>
    </div>

    <form class="newsletter__form" data-newsletter-form>
      <label for="newsletter-email" class="newsletter__label">Email</label>
      <input
        id="newsletter-email"
        type="email"
        name="email"
        class="newsletter__input input"
        placeholder="Enter your email"
        autocomplete="email"
        required
      />
      <button type="submit" class="newsletter__button">Subscribe</button>
    </form>
  </div>

  <div class="footer__bottom">
    <p id="copyright" class="footer__copyright">
      &copy; Aperture Photography, Inc. All rights reserved.
      <a href="#copyright" class="footer__link">Licensing</a>.
    </p>

    <ul class="footer__social">
      <li class="footer__socials-item">
        <a
          href="https://twitter.com/aperture-studio"
          class="footer__socials-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg width="24" height="24">
            <use href="./src/img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>

      <li class="footer__socials-item">
        <a
          href="https://instagram.com/aperture-studio"
          class="footer__socials-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg width="24" height="24">
            <use href="./src/img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__socials-item">
        <a
          href="https://facebook.com/aperture-studio"
          class="footer__socials-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg width="24" height="24">
            <use href="./src/img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
