<header class="header container" data-header>
  <a href="/" class="header__logo logo">
    <svg width="128" height="31">
      <use href="./src/img/sprite.svg#icon-logo"></use>
    </svg>
  </a>

  <button
    type="button"
    class="header__burger-btn"
    data-burger-menu-button
    aria-expanded="false"
    aria-controls="header-menu"
  >
    <span></span>
  </button>

  <div id="header-menu" class="header__menu" data-header-menu aria-hidden="true">
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="#portfolio" class="header__link" data-header-menu-item>What we do</a>
        </li>
        <li class="header__item">
          <a href="#fuji" class="header__link" data-header-menu-item>Featured image</a>
        </li>
        <li class="header__item">
          <a href="#gear-cage" class="header__link" data-header-menu-item>Gear cage</a>
        </li>
        <li class="header__item">
          <a href="#past-clients" class="header__link" data-header-menu-item>Past clients</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header__button" data-header-menu-item>Get in touch</button>
  </div>
</header>
