<header class="header container">
  <a href="#" class="header__logo logo">
    <svg width="128" height="31">
      <use href="./src/img/sprite.svg#icon-logo"></use>
    </svg>
  </a>

  <button
    type="button"
    class="header__burger-btn burger-btn-js"
    aria-expanded="false"
    aria-controls="header-menu"
  >
    <span></span>
  </button>

  <div id="header-menu" class="header__menu menu-js" aria-hidden="true">
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item"><a href="#" class="header__link">Business areas</a></li>
        <li class="header__item"><a href="#" class="header__link">Featured images</a></li>
        <li class="header__item"><a href="#" class="header__link">Gear cage</a></li>
        <li class="header__item"><a href="#" class="header__link">Contact</a></li>
      </ul>
    </nav>

    <a href="#" class="header__button">Get template</a>
  </div>
</header>
