<section class="hero container">
  <div data-blur-out-text class="hero__content">
    <h2 class="hero__subtitle">Photographer & Filmmaker</h2>
    <div class="hero__title-wrapper">
      <h1 class="hero__title">Aperture Studios</h1>
    </div>
    <p class="hero__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
      elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
      commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem
      imperdiet. Nunc ut sem vitae risus tristique posuere.
    </p>
  </div>

  <ul class="hero__details image-details">
    <li class="image-details__item">
      <svg class="image-details__icon" width="16" height="16">
        <use href="./src/img/sprite.svg#icon-clock"></use>
      </svg>
      <span class="image-details__text">1/60s</span>
    </li>
    <li class="image-details__item">
      <svg class="image-details__icon" width="16" height="16">
        <use href="./src/img/sprite.svg#icon-aperture"></use>
      </svg>
      <span class="image-details__text">f/2.8</span>
    </li>
    <li class="image-details__item">
      <svg class="image-details__icon" width="32" height="16">
        <use href="./src/img/sprite.svg#icon-iso"></use>
      </svg>
      <span class="image-details__text">ISO 100</span>
    </li>
    <li class="image-details__item">
      <svg class="image-details__icon" width="16" height="16">
        <use href="./src/img/sprite.svg#icon-point"></use>
      </svg>
      <span class="image-details__text">Iceland</span>
    </li>
  </ul>

  <div class="hero__thumb">
    <video data-prlx data-coefficient="10" class="hero__video" autoplay muted loop playsinline>
      <source src="./src/video/hero-bg-video-720.webm" type="video/webm" media="(width < 1280px)" />
      <source
        src="./src/video/hero-bg-video-1080.webm"
        type="video/webm"
        media="(width >= 1280px) and (width < 2560px)"
      />
      <source src="./src/video/hero-bg-video-4k.webm" type="video/webm" media="(width > 2560px)" />
      <source src="./src/video/hero-bg-video-720.mp4" type="video/mp4" media="(width < 1280px)" />
      <source
        src="./src/video/hero-bg-video-1080.mp4"
        type="video/mp4"
        media="(width >= 1280px) and (width < 2560px)"
      />
      <source src="./src/video/hero-bg-video-4k.mp4" type="video/mp4" media="(width > 2560px)" />
    </video>
  </div>
</section>
