<div class="modals-container" data-modals-container inert>
  <load
    src="src/components/modal.htm"
    classNames="modal--full"
    modalName="product-gallery"
    title="Product Photography"
    bodySrc="src/partials/product-gallery.html"
  />

  <load
    src="src/components/modal.htm"
    classNames="modal--full"
    modalName="architecture-gallery"
    title="Architecture Photography"
    bodySrc="src/partials/architecture-gallery.html"
  />

  <load
    src="src/components/modal.htm"
    classNames="modal--full"
    modalName="drone-gallery"
    title="Drone Photography"
    bodySrc="src/partials/drone-gallery.html"
  />

  <load
    src="src/components/modal.htm"
    classNames="modal--full"
    modalName="wildlife-gallery"
    title="Wildlife Photography"
    bodySrc="src/partials/wildlife-gallery.html"
  />

  <load
    src="src/components/modal.htm"
    classNames=""
    modalName="contact"
    title="Contact Us"
    bodySrc="src/partials/contact-form.html"
  />

  <load
    src="src/components/modal.htm"
    classNames=""
    modalName="success"
    title="Success"
    bodySrc="src/partials/success.html"
  />
</div>
