<section id="monstera-leafs">
  <load
    src="src/components/image-highlight.htm"
    imageSrc="./src/img/gallery/monstera-leafs.webp"
    imageSrc2x="./src/img/gallery/monstera-leafs@2x.webp"
    imageSrc3x="./src/img/gallery/monstera-leafs@3x.webp"
    imageType="image/webp"
    width="1440"
    height="600"
    title="Monstera Leafs"
    description="Under the vast Himalayan sky, the falling stars paint a mesmerizing picture of nature's grandeur. The silent peaks stand as timeless witnesses to this celestial dance, offering a moment of reflection and wonder far from the bustle of the world."
    shutterSpeed="1/400s"
    aperture="f/3.5"
    iso="100"
    location="Costa Rica"
  />
</section>
