<section class="fuji photo-highlight container">
  <load
    src="src/components/image-highlight.htm"
    block="photo-highlight"
    imageSrc="./src/img/gallery/fuji.webp"
    imageSrc2x="./src/img/gallery/fuji@2x.webp"
    imageSrc3x="./src/img/gallery/fuji@3x.webp"
    imageType="image/webp"
    title="Sunset at Mount Fuji"
    description="As the sun sets behind Mount Fuji, the sky transforms into a palette of deep oranges and purples, reflecting beautifully on the tranquil waters of Lake Kawaguchi."
  />

  <load
    src="src/components/image-details.htm"
    block="photo-highlight"
    shutterSpeed="1s"
    aperture="f/16"
    iso="400"
    location="Japan"
  />
</section>
