<section class="portfolio container">
  <div data-blur-out-text class="portfolio__header">
    <h2 class="portfolio__title">What we do.</h2>
    <p class="portfolio__subtitle">The areas that we're specialized in.</p>
  </div>

  <ul class="portfolio__card-list">
    <li class="portfolio__card">
      <picture>
        <source
          srcset="
            ./src/img/portfolio/portfolio-card-img.webp    1x,
            ./src/img/portfolio/portfolio-card-img@2x.webp 2x,
            ./src/img/portfolio/portfolio-card-img@3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="./src/img/portfolio/portfolio-card-img.webp"
          alt="Tech gadgets on a dark surface."
          class="portfolio__card-image"
          loading="lazy"
        />
      </picture>

      <div class="portfolio__card-content">
        <h3 data-watch class="portfolio__card-title">Product Photography</h3>
        <p data-watch class="portfolio__card-description">
          Capture every detail of your products with professional photography. We create visual
          content that boosts sales and showcases your products in the best light. lorem1000
        </p>
        <a href="" class="portfolio__card-button">
          <div class="aperture-icon">
            <div class="aperture-icon__blades">
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
            </div>
          </div>
          <span>Read more</span>
        </a>
      </div>
    </li>

    <li class="portfolio__card">
      <picture>
        <source
          srcset="
            ./src/img/portfolio/portfolio-card-img-1.webp    1x,
            ./src/img/portfolio/portfolio-card-img-1@2x.webp 2x,
            ./src/img/portfolio/portfolio-card-img-1@3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="./src/img/portfolio/portfolio-card-img-1.webp"
          alt="Geometric architectural pattern."
          class="portfolio__card-image"
          loading="lazy"
        />
      </picture>

      <div class="portfolio__card-content">
        <h3 data-watch class="portfolio__card-title">Architecture Photography</h3>
        <p data-watch class="portfolio__card-description">
          Unveil the grandeur of architecture through the lens. We deliver stunning shots that
          highlight the design, structure, and concept of your spaces.
        </p>
        <a href="" class="portfolio__card-button">
          <div class="aperture-icon">
            <div class="aperture-icon__blades">
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
            </div>
          </div>
          <span>Read more</span>
        </a>
      </div>
    </li>

    <li class="portfolio__card">
      <picture>
        <source
          srcset="
            ./src/img/portfolio/portfolio-card-img-2.webp    1x,
            ./src/img/portfolio/portfolio-card-img-2@2x.webp 2x,
            ./src/img/portfolio/portfolio-card-img-2@3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="./src/img/portfolio/portfolio-card-img-2.webp"
          alt="Aerial view of a forest."
          class="portfolio__card-image"
          loading="lazy"
        />
      </picture>

      <div class="portfolio__card-content">
        <h3 data-watch class="portfolio__card-title">Drone Photography</h3>
        <p data-watch class="portfolio__card-description">
          Breathtaking views from a bird&rsquo;s-eye perspective. Our drones provide a unique angle
          for landscapes, events, or real estate.
        </p>
        <a href="" class="portfolio__card-button">
          <div class="aperture-icon">
            <div class="aperture-icon__blades">
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
            </div>
          </div>
          <span>Read more</span>
        </a>
      </div>
    </li>

    <li class="portfolio__card">
      <picture>
        <source
          srcset="
            ./src/img/portfolio/portfolio-card-img-3.webp    1x,
            ./src/img/portfolio/portfolio-card-img-3@2x.webp 2x,
            ./src/img/portfolio/portfolio-card-img-3@3x.webp 3x
          "
          type="image/webp"
        />
        <img
          src="./src/img/portfolio/portfolio-card-img-3.webp"
          alt="Deer in a forest."
          class="portfolio__card-image"
          loading="lazy"
        />
      </picture>

      <div class="portfolio__card-content">
        <h3 data-watch class="portfolio__card-title">Wildlife Photography</h3>
        <p data-watch class="portfolio__card-description">
          Dive into the wilderness. We capture rare moments of wildlife, showcasing the raw beauty
          of the natural world.
        </p>
        <a href="" class="portfolio__card-button">
          <div class="aperture-icon">
            <div class="aperture-icon__blades">
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
              <div class="aperture-icon__blade"></div>
            </div>
          </div>
          <span>Read more</span>
        </a>
      </div>
    </li>
  </ul>
</section>
