<div class="slider slider--gallery" data-slider="product-gallery">
  <ul class="slider__list" data-slider-list>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/laptop.webp"
        imageSrc2x="./src/img/gallery/laptop@2x.webp"
        imageSrc3x="./src/img/gallery/laptop@3x.webp"
        imageType="image/webp"
        width="1440"
        height="960"
        title="Midnight Glow"
        description="A silver laptop emerges from the night's quiet shadows, its soft glow a beacon of digital thought. Stories and ideas unfold in this moment of solitude."
        shutterSpeed="1/50s"
        aperture="f/2.8"
        iso="1600"
        location="Studio"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/berries.webp"
        imageSrc2x="./src/img/gallery/berries@2x.webp"
        imageSrc3x="./src/img/gallery/berries@3x.webp"
        imageType="image/webp"
        width="1440"
        height="960"
        title="Mixed Berries in Glass"
        description="Under the cloak of night, a handful of berries held whispers of summer. Each one a tiny, sweet secret, waiting for the first light to share its magic."
        shutterSpeed="1/60s"
        aperture="f/2.8"
        iso="800"
        location="Studio"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/xbox.webp"
        imageSrc2x="./src/img/gallery/xbox@2x.webp"
        imageSrc3x="./src/img/gallery/xbox@3x.webp"
        imageType="image/webp"
        width="1440"
        height="960"
        title="Gaming Awaits"
        description="Resting on a textured canvas, the controller awaits. Each button, a portal to new adventures and untold stories, ready to shape destiny."
        shutterSpeed="1/80s"
        aperture="f/3.5"
        iso="800"
        location="Studio"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/knives.webp"
        imageSrc2x="./src/img/gallery/knives@2x.webp"
        imageSrc3x="./src/img/gallery/knives@3x.webp"
        imageType="image/webp"
        width="1440"
        height="960"
        title="Knives and Oranges"
        description="Sharp blades and sun-kissed oranges await on a dark canvas. Each knife, poised for precision, ready to transform simple ingredients into a culinary delight."
        shutterSpeed="1/100s"
        aperture="f/4.0"
        iso="400"
        location="Studio"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/plate-on-leaves.webp"
        imageSrc2x="./src/img/gallery/plate-on-leaves@2x.webp"
        imageSrc3x="./src/img/gallery/plate-on-leaves@3x.webp"
        imageType="image/webp"
        width="1440"
        height="960"
        title="Solitude on Green"
        description="Amid the stillness of layered leaves, a lone plate rested—silent and forgotten. Its worn rim echoed lost gatherings, while the shadows around whispered stories never told."
        shutterSpeed="1/125s"
        aperture="f/4"
        iso="200"
        location="Studio"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/tart.webp"
        imageSrc2x="./src/img/gallery/tart@2x.webp"
        imageSrc3x="./src/img/gallery/tart@3x.webp"
        imageType="image/webp"
        width="1440"
        height="960"
        title="Golden Zest"
        description="Against a dramatic dark backdrop, a vibrant tart stands tall, a beacon of golden zest. A dusting of powdered sugar frames its base, hinting at the sweet alchemy within, promising a slice of pure delight."
        shutterSpeed="1/60s"
        aperture="f/2.8"
        iso="400"
        location="Studio"
      />
    </li>
  </ul>
  <button aria-label="Previous" class="slider__nav slider__nav--prev" data-slider-btn="prev">
    <svg width="24" height="24">
      <use href="./src/img/sprite.svg#icon-chevron-left"></use>
    </svg>
  </button>
  <button aria-label="Next" class="slider__nav slider__nav--next" data-slider-btn="next">
    <svg width="24" height="24">
      <use href="./src/img/sprite.svg#icon-chevron-left"></use>
    </svg>
  </button>
</div>
