<div class="slider slider--gallery" data-slider="wildlife-gallery">
  <ul class="slider__list" data-slider-list>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/lion.webp"
        imageSrc2x="./src/img/gallery/lion@2x.webp"
        imageSrc3x="./src/img/gallery/lion@3x.webp"
        imageType="image/webp"
        width="1440"
        height="960"
        title="King's Contemplation"
        description="The lion's gaze, lost in thought, held the silent wisdom of the wild, reflecting unseen stories."
        shutterSpeed="1/125s"
        aperture="f/4.0"
        iso="800"
        location="Tanzania"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/gentoo-penguin.webp"
        imageSrc2x="./src/img/gallery/gentoo-penguin@2x.webp"
        imageSrc3x="./src/img/gallery/gentoo-penguin@3x.webp"
        imageType="image/webp"
        width="1440"
        height="960"
        title="The Lone Sentinel"
        description="A quiet guardian against ancient stone, surveying its silent, watery kingdom. A patient observer contemplating echoes of icy winds, a quiet witness to the world."
        shutterSpeed="1/125s"
        aperture="f/5.6"
        iso="400"
        location="San Diego"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/heron.webp"
        imageSrc2x="./src/img/gallery/heron@2x.webp"
        imageSrc3x="./src/img/gallery/heron@3x.webp"
        imageType="image/webp"
        width="1440"
        height="960"
        title="Grace in Twilight Waters"
        description="A solitary white figure preens amidst tranquil, dark waters. Its reflection dances below, a perfect mirror of grace, as twilight whispers secrets to the still surface."
        shutterSpeed="1/250s"
        aperture="f/4.0"
        iso="800"
        location="New Orleans"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/owl.webp"
        imageSrc2x="./src/img/gallery/owl@2x.webp"
        imageSrc3x="./src/img/gallery/owl@3x.webp"
        imageType="image/webp"
        width="1440"
        height="960"
        title="Eyes of the Forest"
        description="Hidden in ancient bark, a tiny owl's piercing yellow eyes watch. A silent guardian, it holds the twilight forest's whispered secrets."
        shutterSpeed="1/100s"
        aperture="f/2.8"
        iso="1600"
        location="Finland"
      />
    </li>
    <li class="slider__item" data-slider-item>
      <load
        src="src/components/image-highlight.htm"
        imageSrc="./src/img/gallery/goats.webp"
        imageSrc2x="./src/img/gallery/goats@2x.webp"
        imageSrc3x="./src/img/gallery/goats@3x.webp"
        imageType="image/webp"
        width="1440"
        height="960"
        title="Coastal Guardians"
        description="On rugged heights, two wild spirits survey sun-kissed waters. Coastal guardians, embracing the vast, salty breeze."
        shutterSpeed="1/500s"
        aperture="f/8.0"
        iso="200"
        location="Greece"
      />
    </li>
  </ul>
  <button aria-label="Previous" class="slider__nav slider__nav--prev" data-slider-btn="prev">
    <svg width="24" height="24">
      <use href="./src/img/sprite.svg#icon-chevron-left"></use>
    </svg>
  </button>
  <button aria-label="Next" class="slider__nav slider__nav--next" data-slider-btn="next">
    <svg width="24" height="24">
      <use href="./src/img/sprite.svg#icon-chevron-left"></use>
    </svg>
  </button>
</div>
