@use "../utilities" as *;

.slider {
  --slider-slides-to-show: 1;
  --slider-list-gap: 0rem;
  --slider-total-visible-gaps: calc((var(--slider-slides-to-show) - 1) * var(--slider-list-gap));
  --slider-available-width: calc(100% - var(--slider-total-visible-gaps));
  --slider-item-width: calc(var(--slider-available-width) / var(--slider-slides-to-show));
  --slider-translate-x: 0;

  // .slider
  & {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  // .slider__list
  &__list {
    display: flex;
    gap: var(--slider-list-gap);
    width: 100%;
    overflow: hidden;
    translate: var(--slider-translate-x) 0;
    transition: translate 0.8s cubic-bezier(0.23, 0.55, 0.28, 1);
  }

  // .slider__item
  &__item {
    flex: 0 0 var(--slider-item-width);
    margin-inline-start: 0%;
    transition: margin-inline-start 0.8s cubic-bezier(0.23, 0.55, 0.28, 1);
    will-change: margin-inline-start;

    &.is-leaving {
      margin-inline-start: calc(-1 * (var(--slider-item-width) + var(--slider-list-gap)));
    }
    &.is-entering {
      margin-inline-start: calc(-1 * (var(--slider-item-width) + var(--slider-list-gap)));
      transition: none;
    }
  }
  // .slider__nav
  &__nav {
    display: inline-flex;
    color: $text-primary-color;
    padding: toRem(8);
    cursor: pointer;
    transition: color 250ms;

    svg {
      stroke: currentColor;
      width: toRem(30);
      height: toRem(30);
    }
    &--prev {
      order: -1;
    }
    &--next {
      rotate: 180deg;
    }
    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    @include hover() {
      color: $accent-color;
    }
  }
}
