@use "utilities" as *;

.category-card {
  position: relative;
  overflow: hidden;
  scale: 1;
  transition: scale 350ms cubic-bezier(0.4, 0, 0.2, 1);

  @include noise();

  &__container {
    display: flex;
    width: 100%;
    height: 100%;
    padding-block: toRem(30);
    filter: blur(0) contrast(1) brightness(1) saturate(1);
    transition: filter 350ms cubic-bezier(0.4, 0, 0.2, 1);

    @include adaptiveValue("padding-inline", 30, 15, $bp-mobile);
  }

  // .category-card__thumb
  &__thumb {
    position: absolute;
    inset: 0;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(360deg, #000000bb 0%, #ffffff00 60%);
    }
  }
  // .category-card__image
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  // .category-card__body
  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: toRem(16);
  }
  // .category-card__content
  &__content {
    overflow-y: auto;
  }
  // .category-card__title
  &__title {
    @extend %title-label;
    color: $text-heading-color;
    margin-bottom: toRem(10);
  }
  // .category-card__title, .category-card__description
  &__title,
  &__description {
    opacity: 0;
    filter: blur(4px);
    transition: 400ms ease-out;
    transition-property: opacity, filter;

    &.visible {
      opacity: 1;
      filter: blur(0);
    }
  }
}

@include desktop {
  .portfolio__list:has(.category-card:hover) .category-card {
    &:not(:hover) {
      scale: 0.99;

      .category-card__container {
        filter: blur(2.5px) contrast(0.8) brightness(0.5) saturate(0.5);
      }
    }

    &:hover {
      .category-card__container {
        filter: blur(0) contrast(1) brightness(1.1) saturate(1.2);
      }
    }
  }
}
