@use "./utilities/placeholders" as *;
@use "./utilities/variables" as *;
@use "./utilities/functions" as *;

.clients {
  & {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(40);
    text-align: center;
  }
  // .clients__header
  &__header {
    max-width: 600px;
  }
  // .clients__title
  &__title {
    @extend %section-title;
    color: $text-heading-color;
    margin-bottom: toRem(18);
  }
  // .clients__subtitle
  &__subtitle {
    @extend %subtitle;
  }

  &__slider {
    width: 100%;
    height: toRem(158);
    padding: toRem(40) toRem(46);
  }
  // .clients__logos
  &__logos {
    width: 100%;
    height: 100%;
  }
  // .clients__logo
  &__logo {
    display: inline-flex;
    justify-content: center;
    min-width: toRem(128);
    height: 100%;
  }
  // .clients__img
  &__img {
    width: toRem(128);
    height: 100%;
  }
}
