@use "./utilities/variables" as *;
@use "./utilities/functions" as *;
@use "./utilities/placeholders" as *;
@use "./utilities/mixins" as *;

.container {
  padding-top: toRem(120);
  padding-bottom: toRem(100);
  @include adaptiveValue("padding-left", $container-padding-l, 15);
  @include adaptiveValue("padding-right", $container-padding-l, 15);

  &--wide {
    @include adaptiveValue("padding-left", $container-padding-s, 15);
    @include adaptiveValue("padding-right", $container-padding-s, 15);
  }
}

.logo {
  display: inline-flex;
  color: $text-heading-color;

  @include hover(color, $accent-color);
}

.image-details {
  & {
    @include adaptiveValue("padding-right", 40, 15);
    @include adaptiveValue("padding-left", 40, 15);

    position: absolute;
    bottom: toRem(40);
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: toRem(16);

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      width: 100%;
      height: 150%;
      background: $background-page-color;
      filter: blur(40px);
      border-radius: 10px;
      opacity: 0.4;
    }
  }

  // .image-details__item
  &__item {
    display: flex;
    align-items: center;
    gap: toRem(6);
    color: $text-heading-color;
  }
  // .image-details__text
  &__text {
    font-size: 0.75rem;
    line-height: 1;
  }
}

.aperture-icon {
  $aperture-size: var(--aperture-size, -30deg);
  $aperture-bg-color: var(--aperture-bg-color, $btn-bg-color);
  $aperture-rotate: var(--aperture-rotate, 40deg);

  width: toRem(28);
  height: toRem(28);
  border-radius: 50%;
  overflow: hidden;
  // .aperture-icon__blades
  &__blades {
    padding: toRem(2);
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 250ms ease;
  }
  // .aperture-icon__blade
  &__blade {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotate(calc(var(--i) * 60deg)) scaleY(2) rotateX(-60deg);
    transform-origin: 0% 50%;

    @for $i from 1 through 6 {
      &:nth-of-type(#{$i}) {
        --i: #{$i};
      }
    }
    // .aperture-icon__blade::before
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: currentColor;
      border-left: toRem(2) solid;
      border-color: $aperture-bg-color;
      transform-origin: 0% 0%;
      transform: rotate($aperture-size);
      transition: all 250ms ease;
    }
  }
}
