@use "utilities" as *;

.container {
  @include adaptiveValue("padding-top", 120, 80);
  @include adaptiveValue("padding-bottom", 100, 60);
  @include adaptiveValue("padding-inline", $container-padding-l, 15);

  &--wide {
    @include adaptiveValue("padding-inline", $container-padding-s, 15);
  }
}

.logo {
  display: inline-flex;
  color: $text-heading-color;
  transition: color 250ms;

  @include hover() {
    color: $accent-color;
  }
}

.button {
  --button-bg-color: #{$btn-bg-color};
  --button-color: #{$text-dark-color};

  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: toRem(11) toRem(20);
  border-radius: 0.88rem;
  color: var(--button-color);
  background-color: var(--button-bg-color);
  transition-duration: 250ms;
  transition-property: background-color, color;

  &--aperture {
    --button-color: #{$btn-bg-color};

    padding: toRem(7) 0.5rem;
    gap: 0.8rem;

    span {
      font-size: 0.75rem;
      line-height: 1.5;
      color: var(--button-color);
      padding: toRem(5) toRem(15);
      background-color: $black-color;
      border-radius: 0.69rem;
      transition: color 250ms;
    }

    @include hover() {
      --aperture-size: -30deg;
      --button-color: #{$accent-color};
    }
  }

  &:not(.button--aperture) {
    @include hover() {
      --button-bg-color: #{$accent-color};
    }
  }
}

.input {
  width: 100%;
  padding: toRem(8) toRem(16);
  color: $text-dark-color;
  background-color: $input-bg-color;
  border: 1px solid #e5e7eb;
  border-radius: 0.75rem;

  &::placeholder {
    opacity: 0.5;
  }
}
