@use "utilities" as *;

.gear {
  & {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .gear__content
  &__content {
    color: $text-heading-color;

    @include adaptiveValue("padding-right", $container-padding-l, 15);
  }
  // .gear__subtitle
  &__subtitle {
    @extend %title-label;

    color: $text-primary-color;
    margin-bottom: toRem(6);
  }
  // .gear__title
  &__title {
    @extend %block-title;

    margin-bottom: toRem(18);
  }
  // .gear__description
  &__description {
    margin-bottom: toRem(20);
    opacity: 0;
    filter: blur(4px);
    transition: 600ms ease-out;
    transition-property: opacity, filter;

    @supports (hyphens: auto) {
      hyphens: auto;
    }
    @supports (text-wrap: pretty) {
      text-wrap: pretty;
    }
    &.visible {
      opacity: 1;
      filter: blur(0);
    }
  }
  // .gear__photo-highlight
  &__photo-highlight {
    @include noise();
    @include max-tablet {
      display: none;
    }
    @include tablet {
      position: relative;
      // margin-top: toRem(-120);
      // margin-bottom: toRem(-100);
      @include adaptiveValue("margin-top", -120, -80);
      @include adaptiveValue("margin-bottom", -100, -60);
      @include adaptiveValue("margin-right", $container-padding-l * -1, -15);
    }
  }
  // .gear__thumb
  &__thumb {
    position: absolute;
    inset: 0;
  }
  // .gear__bg-image
  &__image {
    @include tablet {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
