@use "utilities" as *;

.hero {
  & {
    position: relative;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    overflow: hidden;

    @include adaptiveValue("padding-bottom", 100, 80);
    @include noise();

    // background-blend-mode: darken;
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(360deg, #000000 0%, #ffffff00 100%);
    mix-blend-mode: darken;
  }
  // .hero__content
  &__content {
    text-align: center;
    max-width: 37.5rem;
  }
  // .hero__subtitle
  &__subtitle {
    @extend %title-label;
  }
  // hero__title-wrapper
  &__title-wrapper {
    margin-bottom: toRem(18);
  }
  // .hero__title
  &__title {
    @extend %main-title;

    color: $text-heading-color;
  }
  // .hero__thumb
  &__thumb {
    position: absolute;
    inset: 0;
    translate: 0px 0svh;
    z-index: -1;

    animation: heroBackground linear;
    animation-timeline: scroll(root);
    animation-range: 0svh 100svh;
  }
  // .hero__video
  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes heroBackground {
  to {
    translate: 0px 100svh;
  }
}
