@use "utilities" as *;

.image-details {
  position: absolute;
  bottom: toRem(24);
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 1rem;
  padding-block: 1rem;
  mix-blend-mode: luminosity;

  @include adaptiveValue("padding-inline", 40, 15);

  &::before {
    --backdrop-color: #{rgba($dark-color, 0.6)};

    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
      to right,
      transparent,
      var(--backdrop-color) 20%,
      var(--backdrop-color) 80%,
      transparent
    );
  }
  // .image-details__item
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: toRem(6);
    color: $text-heading-color;
  }
  // .image-details__icon
  &__icon {
    display: inline-flex;
    height: toRem(16);
    flex-shrink: 0;
    color: $text-heading-color;

    @include adaptiveValue("height", 16, 14, $bp-tablet);
  }
  // .image-details__text
  &__text {
    font-size: 0.75rem;
    line-height: 1;
  }
}
