@use "utilities" as *;

.image-details {
  @include adaptiveValue("padding-inline", 40, 15);

  & {
    position: absolute;
    bottom: toRem(40);
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: toRem(16);

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      width: 100%;
      height: 150%;
      background: $background-page-color;
      filter: blur(40px);
      border-radius: 10px;
      opacity: 0.4;
    }
  }
  // .image-details__item
  &__item {
    display: flex;
    align-items: center;
    gap: toRem(6);
    color: $text-heading-color;
  }
  // .image-details__icon
  &__icon {
    display: inline-flex;
    height: toRem(16);
    flex-shrink: 0;
    color: $text-heading-color;

    @include adaptiveValue("height", 16, 14, $bp-tablet);
  }
  // .image-details__text
  &__text {
    font-size: 0.75rem;
    line-height: 1;
  }
}
