@use "./utilities/" as *;

.menu {
  @include max-desktop {
    position: fixed;
    inset-inline: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    width: 100%;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;
    user-select: text;
    border: none;
    margin: 0;
    color: currentColor;
    grid-area: menu;
    background-color: $dark-color;
    overflow: hidden;
    visibility: hidden;
    pointer-events: all;
    transition-duration: 550ms;
    transition-property: visibility, translate, max-height, padding-bottom;

    @supports (position-anchor: --header-anchor) {
      position-anchor: --header-anchor;
      top: anchor(bottom);
    }
    @supports not (position-anchor: --header-anchor) {
      top: 0;
      margin-top: toRem(79);
    }
    @include adaptiveValue("padding-inline", $container-padding-l, 15);
    @include backdrop();

    // .menu[data-menu-type="dropdown"]
    &[data-menu-type="dropdown"] {
      max-height: 0;
      padding-bottom: 0;
    }
    // .menu[data-menu-type="slide"]
    &[data-menu-type="slide"] {
      bottom: 0;
      width: max-content;
    }
    // .menu[data-menu-position="left"]
    &[data-menu-position="left"] {
      right: 100%;
    }
    // .menu[data-menu-position="right"]
    &[data-menu-position="right"] {
      left: 100%;
    }
    // .menu::backdrop
    &::backdrop {
      display: none;
    }
    // .menu > *
    > * {
      opacity: 0;
      filter: blur(toRem(4));
      transition:
        opacity 550ms,
        filter 550ms,
        padding-inline 450ms 250ms,
        background-color 250ms;
    }
    // .menu[open]
    &[open] {
      visibility: visible;

      // .menu[open][data-menu-type="dropdown"]
      &[data-menu-type="dropdown"] {
        max-height: 100%;
        max-height: calc-size(fit-content, size);
        padding-bottom: 2rem;
      }
      // .menu[open][data-menu-position="left"]
      &[data-menu-position="left"] {
        translate: 100%;
      }
      // .menu[open][data-menu-position="right"]
      &[data-menu-position="right"] {
        translate: -100%;
      }
      // .menu[open] > *
      > * {
        opacity: 1;
        filter: blur(0);
      }
    }
    // .menu[open] .menu__nav
    &[open] & {
      &__nav {
        padding-inline: 1rem;
      }
    }
  }
  @include desktop {
    display: contents;
  }
  // .menu__nav
  &__nav {
    padding-inline: 0;

    @include desktop {
      grid-area: nav;
      display: flex;
    }
  }
  // .menu__list
  &__list {
    @include desktop {
      display: flex;
      justify-content: end;
      gap: toRem(32);
      width: 100%;
    }
  }
  // .menu__item
  &__item {
    display: flex;
    flex-shrink: 0;
  }
  // .menu__link
  &__link {
    position: relative;
    align-self: center;
    color: $text-heading-color;
    transition: color 250ms;

    // .menu__link::after
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      width: 0;
      height: 1px;
      background-color: $text-heading-color;
      transition:
        width 250ms,
        background-color 250ms;
    }
    // .menu__link:hover
    @include hover() {
      color: $accent-color;

      // .menu__link:hover::after
      &::after {
        left: 0;
        width: 100%;
        background-color: $accent-color;
      }
    }
    @include max-desktop {
      font-size: 1.44rem;
      line-height: 1.30435;
      padding: toRem(8) 0;
    }
    @include desktop {
      font-size: 0.94rem;
      line-height: 1.33333;
      padding: toRem(4) 0;
    }
  }
  // .menu__button
  &__button {
    @include desktop {
      grid-area: cta;
      justify-self: end;
    }
  }
}
