@use "./utilities/placeholders" as *;
@use "./utilities/variables" as *;
@use "./utilities/functions" as *;

.photo-highlight {
  & {
    --shadow-opacity: 0;

    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    aspect-ratio: 1440 / 600;
    min-height: toRem(600);

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(270deg, #000000bb 0%, #ffffff00 80%);
      z-index: -1;
    }
  }

  // .photo-highlight__thumb
  &__thumb {
    position: absolute;
    inset: 0;
  }
  // .photo-highlight__bg-image
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  // .photo-highlight__caption
  &__caption {
    max-width: toRem(300);
    transition: 400ms ease-out;
    transition-property: opacity, filter;
  }
  // .photo-highlight__title
  &__title {
    @extend %title-label;
    color: $text-heading-color;
  }

  &__title,
  &__description {
    position: relative;
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    transition: inherit;

    &.visible {
      opacity: 1;
      filter: blur(0);
    }
  }
}
