@use "utilities" as *;

.photo-highlight {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  aspect-ratio: 1440 / 600;
  min-height: toRem(600);

  @include noise();

  @include adaptiveValue("padding-inline", $container-padding-l, 46);

  // .photo-highlight__thumb
  &__thumb {
    position: absolute;
    inset: 0;
  }
  // .photo-highlight__bg-image
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  // .photo-highlight__caption
  &__caption {
    max-width: toRem(420);
    padding-block: toRem(15);
    mix-blend-mode: luminosity;

    @include adaptiveValue("padding-inline", 60, 15, $bp-tablet);
    @include adaptiveValue("margin-right", -60, -15, $bp-tablet);

    &::before {
      --backdrop-color: color-mix(in srgb, #{$dark-color}, transparent 20%);

      content: "";
      position: absolute;
      inset: 0;
      background-image: linear-gradient(
        to right,
        transparent,
        var(--backdrop-color) 20%,
        var(--backdrop-color) 80%,
        transparent
      );
      opacity: 0;
      filter: blur(4px);
      transition: 400ms ease-out;
      transition-property: opacity, filter;
    }

    &:has(.visible)::before {
      opacity: 1;
      filter: blur(0);
    }
  }
  // .photo-highlight__title
  &__title {
    @extend %title-label;
    color: $text-heading-color;
  }
  // .photo-highlight__title,
  // .photo-highlight__description
  &__title,
  &__description {
    position: relative;
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    transition: 400ms ease-out;
    transition-property: opacity, filter;

    &.visible {
      opacity: 1;
      filter: blur(0);
    }
  }

  .slider__item & {
    &__caption {
      @include adaptiveValue("max-width", 420, 215, $bp-mobile);
    }
  }
}
