@use "./utilities/placeholders" as *;
@use "./utilities/variables" as *;
@use "./utilities/functions" as *;
@use "./utilities/mixins" as *;

.portfolio {
  $portfolio-list-gap: 1rem;
  $card-height: toRem(600);
  $card-min-width: toRem(404);
  $card-max-width: toRem(576);

  & {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  //   .portfolio__header
  &__header {
    text-align: center;
  }
  // .portfolio__title
  &__title {
    @extend %section-title;
    color: $text-heading-color;
    margin-bottom: toRem(18);
  }
  // .portfolio__subtitle
  &__subtitle {
    @extend %subtitle;
    margin-bottom: toRem(42);
  }
  // .portfolio__card-list
  &__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: $portfolio-list-gap;
    max-width: calc($card-max-width * 2 + $portfolio-list-gap);
    justify-content: center;
  }
  // .portfolio__card
  &__card {
    position: relative;
    display: flex;
    align-items: end;
    flex: 1 1 $card-min-width;
    max-width: $card-max-width;
    height: $card-height;
    padding: toRem(30);

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(360deg, #000000bb 0%, #ffffff00 60%);
    }
  }
  // .portfolio__card-image
  &__card-image {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  // .portfolio__card-content
  &__card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-height: 100%;
    overflow-y: auto;
    z-index: 1;
  }
  // .portfolio__card-title
  &__card-title {
    @extend %title-label;
    color: $text-heading-color;
    margin-bottom: toRem(10);
  }
  // .portfolio__card-description
  &__card-description {
    margin-bottom: toRem(16);
  }
  // .portfolio__card-button
  &__card-button {
    flex-shrink: 0;
    @extend %cta-btn;
  }
  // .portfolio__card-title,
  // .portfolio__card-description
  &__card-title,
  &__card-description {
    opacity: 0;
    translate: 0 2rem;
    filter: blur(4px);
    transition: 600ms ease-out;
    transition-property: opacity, translate, filter;
  }
  // .portfolio__card-title.visible,
  // .portfolio__card-description.visible
  &__card-title.visible,
  &__card-description.visible {
    opacity: 1;
    translate: 0 0;
    filter: blur(0);
  }
  // .portfolio__card-description.visible
  &__card-description.visible {
    transition-delay: 250ms;
  }
}
