@use "utilities" as *;

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;

  // .portfolio__header
  &__header {
    text-align: center;
  }
  // .portfolio__title
  &__title {
    @extend %section-title;
    color: $text-heading-color;
    margin-bottom: toRem(18);
  }
  // .portfolio__subtitle
  &__subtitle {
    @extend %subtitle;
    margin-bottom: toRem(42);
  }
  // .portfolio__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: calc(#{toRem(576)} * 2 + 1rem);
  }
  // .portfolio__item
  &__item {
    width: 100%;
    aspect-ratio: 576 / 600;

    @include tablet {
      width: calc(100% / 2 - 0.5rem);

      @include max-desktop {
        aspect-ratio: 464 / 600;
      }
    }
  }

  @include max-mobile {
    &.container {
      padding-inline: 0;
    }
  }
}
